body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f8fa;
  }
  
  .container {
    text-align: center;
  }
  
  input {
    padding: 8px;
    margin: 8px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .user-info {
    margin-top: 20px;
  }
  